body {
    background-color: black;
    color: white;
}

* {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-transform: uppercase;
}



header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* header button {
    position: absolute;
    right: 5px;
} */

button {
    font-family: 'Press Start 2P', cursive;
    color: black;
}

input {
    color: black;
}

.main {
    display: grid;
    height: 75vh;
    grid-template-columns: 10fr 60fr 5fr 15fr 10fr;
    grid-template-rows: 15fr 75fr 10fr;
    
}

#welcome-blerb {
    grid-column: 2 / span 3;
    grid-row: 1;
    border: 3px solid chartreuse;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Space Mono', monospace;
    margin: 20px;
}

#welcome-blerb p {
    font-family: 'Space Mono', monospace;
}

#game-div {
    grid-column: 2 / span 1;
    grid-row: 2;
    border: 3px solid chartreuse;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

#shortcuts {
    grid-column: 4 / span 1;
    grid-row: 2;
    font-family: 'Space Mono', monospace;
    border: 3px solid chartreuse;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

#form {
    grid-column: 2 / span 3;
    grid-row: 3;
    border: 3px solid chartreuse;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}