body {
    background-color: black;
    color: white;
}

* {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-transform: uppercase;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    font-family: 'Press Start 2P', cursive;
    color: black;
}

.main {
    display: grid;
    /* height: 75vh; */
    grid-template-columns: 10fr 60fr 5fr 15fr 10fr;
    grid-template-rows: 490px 600px 10fr;
    min-width: 1100px;
    max-width: 1700px;
}

#welcome-blerb {
    grid-column: 2 / span 3;
    grid-row: 1;
    border: 3px solid chartreuse;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Space Mono', monospace;
    margin: 20px;
}

#welcome-blerb p, li {
    font-family: 'Space Mono', monospace;
    color: rgb(225, 255, 0);
    margin: 15px;
}

#game-div {
    grid-column: 2 / span 1;
    grid-row: 2;
    border: 3px solid chartreuse;
    border-radius: 5px;
    margin: 20px 0 20px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#shortcuts {
    grid-column: 4 / span 1;
    grid-row: 2;
    font-family: 'Space Mono', monospace;
    border: 3px solid chartreuse;
    border-radius: 5px;
    margin: 20px 20px 20px 0;
    padding: 20px;
    padding-top: 5px;
}

#form {
    grid-column: 2 / span 3;
    grid-row: 3;
    border: 3px solid chartreuse;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#promptEl {
    color: white;
    line-height: 25px;
    text-shadow: 1px 1px 4px rgb(225, 255, 0);
}

#score-count {
    background-image: linear-gradient(150deg, rgb(252, 105, 0), rgb(255, 221, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#score h3 {
    font-size: 2em;
}

ol li {
    margin: 15px;
}

.nav {
    margin: 20px;
    font-size: 1.2rem;
    padding: 15px;
    background-image: linear-gradient(150deg, rgb(252, 105, 0), rgb(255, 221, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border: 4px solid orange;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
    opacity: .6;
}

input {
    color: chartreuse;
    background-color: black;
    border: 3px solid yellow;
    padding: 5px;
    height: 30px;
    border-radius: 3px;
}

label {
    font-size: 2.2rem;
}

ul {
    padding-left: 5px;
}

ul li {
    margin: 0;
}

#snake-move {
    display: flex;
    flex-direction: row;
    /* border: 2px solid chartreuse; */
    width: 400px;
    height: 35px;
    border-radius: 20px;
}

#snake-move #box-six  {
    background-color: rgb(92, 172, 12);

}

#snake-move #box-six p {
    transform: translateX(65%);
}

#snake-move div {
    background-color: chartreuse;
    margin: 2px;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    /* position: absolute;
    z-index: 1; */
}

.hidden {
    display: none;
}



#eyes{
    margin-bottom: 50px;
}