* {
    text-transform: uppercase;
}

body {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
    
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
    height: 150px;
}

header button {
    position: absolute;
    right: 13px;
    top: 13px;
    font-size: 1.2rem;
    padding: 5px;
    background-image: linear-gradient(150deg, rgb(252, 105, 0), rgb(255, 221, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border: 2px solid orange;
    border-radius: 3px;
}

header button:hover {
    cursor: pointer;
    opacity: .6;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0;
    letter-spacing: 4px;
    color: rgb(195, 255, 0);
    text-shadow: 4px 4px 1px rgb(0, 0, 0), 6px 6px 1px rgb(3, 134, 40), 7px 7px 1px rgb(60, 245, 32), 8px 8px 3px black, 5px 5px 15px rgb(217, 255, 0), 1px 1px 15px rgb(2, 165, 2);
}

h1:hover {
    color: black;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    width: 450px;
    text-shadow: 1px 1px 4px white;
    letter-spacing: 2px;
    margin: 40px;
}

button {
    font-family: 'Press Start 2P', cursive;
}

#main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 100px;
}

#scores {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-image: linear-gradient(360deg, rgb(6, 117, 2), rgb(187, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.highscore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.highscore h4, p {
    margin: .4em;
}

.token {
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(150deg, rgb(252, 105, 0), rgb(255, 221, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border: none;
    font-size: 2.7rem;
    text-transform: uppercase;
    width: 550px;
    margin-top: 75px;
    transition: transform 1.5s ease-in-out;
    margin-bottom: 150px;
}

.token:hover {
    cursor: pointer;
    opacity: .5;
    transform: rotateY(360deg);
}