/* add home page styles here */

body {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header button {
    position: absolute;
    right: 5px;
}

button {
    font-family: 'Press Start 2P', cursive;
}

#main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#scores {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-image: linear-gradient(360deg, rgb(6, 117, 2), rgb(187, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.highscore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
